.main-element {
  margin-top: 2rem;
}
.auth-buttons {
  width: 15rem;
  height: 3rem;
}

.auth-buttons-container {
  display: flex;
  justify-content: space-between;
}

.search-page-buttons {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  width: 700px;
  padding: 1rem;
}
