.navbar-container {
  background-color: #1e1b1e;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  height: 9.5vh;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-content: center;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: white;
}
.profile-container {
  color: black;
  background-color: beige;
  border-radius: 25px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 2rem;
}
.profile-container:hover {
  box-shadow: #8d8d8c 0px 0px 0px 3px;
}
.sidebar-container {
  height: 90.5vh;
  width: 40vh;
  position: fixed;
  top: 9.5vh;
  background-color: #1e1b1e;
  z-index: 11;
}
.sidebar-elements {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
}
.sidebar-element {
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  padding: 1rem;
  width: 80%;
  margin-top: 0.5rem;
}
.sidebar-element:hover {
  background-color: #ccc;
  color: black;
}
.card-container {
  background-color: #1e1b1e !important;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: rgb(51, 51, 51) 0px 0px 0px 3px;
  width: 700px;
  min-height: 250px;
  margin-top: 2rem;
}
.card-click:hover {
  cursor: pointer;
}
.card-click {
  border-bottom: 2px solid lightgrey;
}
.top-card {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.card-subject {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 400;
  word-wrap: break-word;
}
.card-content {
  font-size: 1.2rem;
  word-wrap: break-word;
}
.bottom-card {
  display: flex;
  justify-content: space-between;
}

.auth-container {
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 50px;

  background-color: #1e1b1e;
  text-align: center;
}
.auth-container h1 {
  text-align: center;
}
.auth-elements {
  margin-top: 2rem;
}

.auth-elements input,
label {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  font-size: 1.3rem;
}

.auth-elements button {
  margin-top: 2rem;
  width: 60%;
}
.post-container {
  padding: 2rem;
  background-color: #1e1b1e;
  border-radius: 25px;
  border: 2px solid white;
}
.post-top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgrey;
}
.post-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.post-element-container {
  margin-bottom: 1rem;
  display: flex;
  display: row;
  max-width: 500px;
}
.post-element-container textarea {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 1rem;
}
.post-element-container input {
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem;
}
.post-container form button {
  display: block;
  margin: 2rem auto 0 auto;
  width: 150px;
}

.logged-elements {
  display: flex;
  flex-direction: row;
}
.user-card-container {
  display: flex;
  width: 700px;
  height: 200px;
  background-color: #1e1b1e;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: black 0px 1px 4px;
  margin-top: 2rem;
  border: 2px solid white;
  flex-direction: column;
}

.user-card-info {
  word-wrap: break-word;
}
.user-avatar {
  width: 100px;
  margin-right: 1rem;
  height: 100px;
  border-radius: 50px;
  background-color: bisque;
  text-align: center;
  line-height: 100px;
  align-content: center;
  color: black;
  font-size: 3rem;
}
.user-top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: auto;
}

.post-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: bisque;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  font-size: 30px;
  margin-right: 1rem;
  color: black;
}
.post-avatar:hover {
  box-shadow: #8d8d8c 0px 0px 0px 3px;
}
.user-post-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-post-section:hover {
  cursor: pointer;
}
.user-card-click {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-open-close-icon {
  color: white;
  margin-right: 2rem;
  font-size: 2rem !important;
}
.small-screen-sidebar {
  width: 100%;
  height: 90.5vh;
  position: fixed;
  top: 9.5vh;
  background-color: #1e1b1e;
  z-index: 11;
}

.dark-dialog {
  background-color: #1e1b1e;
  color: white;
  width: 60vh;
  height: 70vh;
  overflow-y: auto;
}
.dark-dialog::-webkit-scrollbar {
  width: 0.5em;
}

.dark-dialog::-webkit-scrollbar-thumb {
  background-color: #888;
}

.dark-dialog::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.dialog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
  background-color: #1e1b1e;
  z-index: 1;
}
.dialog-element-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.3rem;
}
.follow-dialog-element {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.follow-dialog-container {
  margin-top: 0.5rem;
}
.following-info {
  margin: 1rem 0 1rem;
  font-size: 1rem;
  margin-left: auto;
}

.comments-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.comment {
  font-size: 1.2rem;
  background-color: #52525b;
  padding: 1rem;
  border-radius: 25px;
  width: 80%;
  word-wrap: break-word;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.profile-comment-container {
  width: 50px;
  height: 50px;
  background-color: beige;
  color: black;
  font-size: 1.5rem;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.dialog-comment-bottom {
  position: sticky;
  width: 100%;
  height: 10%;
  bottom: -1px;
  background-color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  color: black;
  background-color: #1e1b1e;
  border-top: 1px solid white;
}
.comment-user-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 1rem;
}
