.navbar-container{
    width: 100%;
    background-color:#1e1b1e ;
   box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  z-index: 10;
    position: sticky;
    top:0;
}

a {
    text-decoration: none;
    color:white;
}
.profile-container
{
    color:black;
    background-color: beige;
    border-radius: 25px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.sidebar-container
{
    height: 90vh;
    width: 40vh;
    top:10vh;
    position: sticky;
    background-color:#2D2727;
}
.sidebar-elements {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
 
   
}
.sidebar-element {
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 25px;
    padding: 1rem;
    width: 80%;
    margin-top: 0.5rem;

}
.sidebar-element:hover {
    background-color: #ccc;
    
    color: black;
  }
  .rightbar-container{
    margin-left: auto;
    height: 90vh;
    width: 40vh;
    top:10vh;
    position: sticky;
    color:white;
    background: #2D2727;
  }
  .friends-container
  {
    margin-left: 1rem;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 25px;
    padding: 1rem;
    width: 77%;
    margin-top: 2.3rem;
   
  }
  .friends-scroll-container {
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 70vh;
  }
  .friends-scroll-container::-webkit-scrollbar{
    background-color: transparent;
  }
 
  .friend-container:hover {
    background-color: #ccc;
    color: black;
  }
  .friend-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
    padding: 0.3rem;
    border-radius: 25px;
    margin-top: 0.2rem;
    
  }
  .friend-img{
    
    border-radius: 25px;
    background-color: antiquewhite;
    width: 50px;
    color:black;
    margin-right: 1rem;
  }

  .friend-info {
    font-size: 1rem;
  }

  .card-container 
  {
    background-color:#1e1b1e !important;
    color:white !important;
    border-radius: 25px !important;
    box-shadow: black 0px 1px 4px;
    width: 700px;
    height: 230px;
  }

  .top-card
  {
    display: flex;
    justify-content: space-between;
  }
  .card-subject {
    margin:1rem 0rem;
    font-size: 1.4rem;
    font-weight: 400;
    word-wrap: break-word;
  }
  .card-content {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  .bottom-card
  {
    display: flex;
    justify-content: space-between;

  }

  .auth-container 
  {
    margin-top: 1rem;
    padding: 2rem;
    border:2px solid white;
    border-radius: 50px;
    width: 40vh;
    height: 40vh;
    background-color:#1e1b1e;
  }
  .auth-container h1
  {
    text-align: center;
  
  }
