.navbar-container {
  background-color: #1e1b1e;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  height: 9.6vh;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-content: center;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: white;
}
.profile-container {
  color: black;
  background-color: beige;
  border-radius: 25px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 2rem;
}
.sidebar-container {
  height: 90vh;
  width: 40vh;
  top: 10vh;
  position: sticky;
  background-color: #404040;
}
.sidebar-elements {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
}
.sidebar-element {
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  padding: 1rem;
  width: 80%;
  margin-top: 0.5rem;
}
.sidebar-element:hover {
  background-color: #ccc;

  color: black;
}
.rightbar-container {
  margin-left: auto;
  height: 90vh;
  width: 40vh;
  top: 10vh;
  position: sticky;
  color: white;
  background: #404040;
}
.friends-container {
  margin-left: 1rem;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  padding: 1rem;
  width: 77%;
  margin-top: 2.3rem;
}
.friends-scroll-container {
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 70vh;
}
.friends-scroll-container::-webkit-scrollbar {
  background-color: transparent;
}

.friend-container:hover {
  background-color: #ccc;
  color: black;
}
.friend-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 50px;
  padding: 0.3rem;
  border-radius: 25px;
  margin-top: 0.2rem;
}
.friend-img {
  border-radius: 25px;
  background-color: antiquewhite;
  width: 50px;
  color: black;
  margin-right: 1rem;
}

.friend-info {
  font-size: 1rem;
}

.card-container {
  background-color: #1e1b1e !important;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: black 0px 1px 4px;
  width: 700px;
  height: 230px;
}

.top-card {
  display: flex;
  justify-content: space-between;
}
.card-subject {
  margin: 1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  word-wrap: break-word;
}
.card-content {
  font-size: 1.2rem;
  word-wrap: break-word;
}
.bottom-card {
  display: flex;
  justify-content: space-between;
}

.auth-container {
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 50px;

  background-color: #1e1b1e;
  text-align: center;
}
.auth-container h1 {
  text-align: center;
}
.auth-elements {
  margin-top: 2rem;
}

.auth-elements input,
label {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  font-size: 1.3rem;
}

.auth-elements button {
  margin-top: 2rem;
  width: 60%;
}
.post-container {
  padding: 2rem;
  background-color: #1e1b1e;
  border-radius: 25px;
  border: 2px solid white;
}
.post-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.post-element-container {
  margin-bottom: 1rem;
  display: flex;
  display: row;
  width: 500px;
}
.post-element-container textarea {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 1rem;
}
.post-element-container input {
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem;
}
.post-container form button {
  display: block;
  margin: 2rem auto 0 auto;
  width: 150px;
}

.logged-elements {
  display: flex;
  flex-direction: row;
}
.user-card-container {
  width: 700px;
  height: 150px;
  background-color: #1e1b1e;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: black 0px 1px 4px;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.user-card-info {
  word-wrap: break-word;
}
.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: bisque;
  text-align: center;
  line-height: 100px;
  align-content: center;
  color: black;
  font-size: 3rem;
}
.user-top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: auto;
}
